</head>
<body>
  <nav>
    <i class="fa-solid fa-jet-fighter-up fa-2xl"></i>
    <a 
			href="/meals/new"
			<%- title === 'Add Meal' ? 'class="active"' : '' %>
		>
			Add Meal
		</a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      Add Flight
    </a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      All Flights
    </a>
  </nav>